alabaster==0.7.13
attrs==22.1.0
Babel==2.11.0
certifi==2024.8.30
charset-normalizer==2.0.12
coverage==6.1.2
docutils==0.18.1
hypothesis==5.33.2
idna==3.10
imagesize==1.4.1
importlib-metadata==4.8.3
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==20.9
pluggy==0.13.1
py==1.11.0
Pygments==2.15.0
pyparsing==3.1.4
pytest==6.2.5
pytest-cov==3.0.0
pytz==2024.2
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==1.6.2
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
toml==0.10.2
tomli==1.2.3
typing_extensions==4.1.1
urllib3==1.26.20
zipp==3.6.0
